body {
	background-image:bintang.JPG;
	background-size:cover; 
}
h1 {
	text-align: center;
	font-family: Copperplate;
	margin-right: 5cm;
	margin-left: 5cm;
}
img {
	display: block; margin: auto;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 5cm;
	margin-right: 5cm;
}
th, td {
	padding: 7px;
	text-align: left;
}
th {
	background-color: #b3b3ff
}
td {
	background-color: white
}
h2 {
	text-align: center;
	font-family: papyrus;
	margin-right: 5cm;
	margin-left: 5cm;
}
p {
	margin-right: 5cm;
	margin-left: 5cm;
	text-align: justify;
	background-color: white
}
